
<% layout("./layouts/boilerplate") %> 

<div><a href="/gymBootcamps">Go to all activities </a></div>
  
<h1 class="text-center">What's the Wellness Tip of the Day?</h1>

<div class="col-6 offset-3">

	<form class="needs-validation" action="/gymBootcamps/<%=gymBootcamps.id%>/?_method=PUT" method="POST" novalidate>

		<div class="mb-3">
		<label class="form-label" for="name">Tip Name</label>
		<input class="form-control" type="text" id="name" name="gymBootcamps[gymName]" value="<%=gymBootcamps.gymName%>" required>
	</div>

	<div class="mb-3">
		<label class="form-label"  for="location">Gym/Bootcamp Location</label>
		<input class="form-control" type="text" id="location" name="gymBootcamps[location]" value="<%=gymBootcamps.location%>" required>
	</div>


	<div class="mb-3">
		<label class="form-label"  for="description">Description</label>
		<input class="form-control" type="text" id="description" name="gymBootcamps[description]" value="<%=gymBootcamps.description%>" required>
	</div>

	<div class="mb-3">
		<label class="form-label" for ="image">Choose Image</label>
		<input class="form-control" type="text" id="image" name="gymBootcamps[image]" value="<%=gymBootcamps.image%>" required>
	</div>

	<div class="mb-3">
		<label class="form-label" for="price"></label>
		<select class="form-control"  name="gymBootcamps[price]" id="price" value="<%=gymBootcamps.price%>">
			<option value="$">$</option>
			<option value="$$">$$</option>
			<option value="$$$">$$$</option>
		</select>
	</div>

	


	<button class="sub">Submit</button>
</form>
</div>




